<% if controller.controller_name == "checkout" && controller.action_name == "edit" %>
  <% if @order.state == 'address' %>
    <%
      product_owners = Array.new
      @order.line_items.map { |i| product_owners << i.product.taxons.map(&:name) }
    %>
    <% if product_owners.flatten.uniq.include? 'Cruzan' %>
      <%= "<!--
      Start of DoubleClick Floodlight Tag: Please do not remove
      Activity name of this tag: Cruzan_Sales_Address
      URL of the webpage where the tag is expected to be placed: https://www.reservebar.com/checkout
      This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
      Creation Date: 07/20/2015
      -->".html_safe %>
      <img src="https://ad.doubleclick.net/ddm/activity/src=1798209;type=cruza000;cat=cruza001;qty=1;cost=[Revenue];u1=[Revenue];u2=[Product Title];u3=[Quantity];u4=[Product ID];ord=[OrderID]?" width="1" height="1" alt=""/>
      <%= "<!-- End of DoubleClick Floodlight Tag: Please do not remove -->".html_safe %>
    <% end %>
  <% end %>
<% end %>
