<% if controller.controller_name == "orders" && controller.action_name == "edit" %>
  <% @order.line_items.each do |li| %>
    <% prod_name = li.product.name.downcase %>
    <% if prod_name.include?('maestro dobel') || prod_name.include?('reserva de la familia') %>
      <%= "<!--
      Start of DoubleClick Floodlight Tag: Please do not remove
      Activity name of this tag: Reserve Bar_The Shopping Cart
      URL of the webpage where the tag is expected to be placed: http://www.reservebar.com/cart
      This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
      Creation Date: 04/09/2014
      -->".html_safe %>
      <script type="text/javascript">
      var axel = Math.random() + "";
      var a = axel * 10000000000000;
      document.write('<iframe src="http://3722224.fls.doubleclick.net/activityi;src=3722224;type=Reser0;cat=Reser003;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
      </script>
      <noscript>
      <iframe src="http://3722224.fls.doubleclick.net/activityi;src=3722224;type=Reser0;cat=Reser003;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
      </noscript>
      <%= "<!-- End of DoubleClick Floodlight Tag: Please do not remove -->".html_safe %>
      <% break %>
    <% end %>
  <% end %>
<% end %>
