<% if @order.state == 'delivery' %>
<ul style="color:red;"><strong>CHRISTMAS DELIVERY:</strong>
<li>-- Engraved order deadline is Monday, December 15th - please choose Express Delivery</li>
<li>-- Non-engraved order deadline is Tuesday, December 16th - Ground Delivery</li>
<li>-- Non-engraved order deadline is Wednesday, December 17th - Express Delivery</li>
<li><em>Orders received after these dates are not guaranteed for Christmas delivery.</em></li></ul>
<% end %>
