<% if @order.state == 'delivery' %>
  <div style="color:red;">
    <strong>CHRISTMAS DELIVERY:</strong>
    <em>Orders received after these dates are not guaranteed for Christmas delivery.</em>
    <table>
      <td style="border:0px important!;margin-right:30px;">
        ENGRAVED:
        <li>Ground: Tues, Dec 15 (12PM)</li>
        <li>2-day: Thurs, Dec 17 (12PM)</li>
        <li>Overnight: Fri, Dec 18 (12PM)</li>
      </td>
      <td style="border:0px important!;">
        NON-ENGRAVED:
        <li>Ground: Thurs, Dec 17 (12PM)</li>
        <li>2-day: Mon, Dec 21 (12PM)</li>
        <li>Overnight: Tues, Dec 22 (12PM)</li>
      </td>
    </table>
  </div>
<% end %>
