<% if controller.controller_name == "taxons" && controller.action_name == "show" %>
  <% if @taxon.children.empty? && @taxon.name == 'Glenmorangie' %>
    <%= "<!--
    Start of DoubleClick Floodlight Tag: Please do not remove
    Activity name of this tag: LPG_ ReserveBarGlenmorangieLP_20140701
    URL of the webpage where the tag is expected to be placed: http://www.reservebar.com/t/type/spirits/single-malts/glenmorangie
    This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
    Creation Date: 07/01/2014
    -->".html_safe %>
    <script type="text/javascript">
    var axel = Math.random() + "";
    var a = axel * 10000000000000;
    document.write('<iframe src="https://4454871.fls.doubleclick.net/activityi;src=4454871;type=lpg_2014;cat=lpg_r258;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
    </script>
    <noscript>
    <iframe src="https://4454871.fls.doubleclick.net/activityi;src=4454871;type=lpg_2014;cat=lpg_r258;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
    </noscript>
    <%= "<!-- End of DoubleClick Floodlight Tag: Please do not remove -->".html_safe %>
  <% end %>
<% end %>
