<% engraving_items = @order.line_items.select { |line_item| line_item.preferred_customization } %>
<% engraving_items.each do |engraving_item| %>
  <div style="border:1px solid #888;padding:6px;">
  <b>This order requires custom engraving for all <%= engraving_item.product.name %></b>
  <% customization_data = JSON.parse(engraving_item.preferred_customization) %>
  <% customization_data.each do |key,value| %>
    <div><%= "#{key.humanize}: #{value}" %></div>
  <% end %>
  </div>
<% end %>
