<% if controller.controller_name == "pages" && controller.action_name == "show" %>
  <% if @page.path == '/products/hennessy-vs-deluxe-edition-shepard-fairey' %>
    <%= "<!--
    Start of DoubleClick Floodlight Tag: Please do not remove
    Activity name of this tag: ECM_ShepDeluxPage_2014-06-18_Step 1
    URL of the webpage where the tag is expected to be placed: http://www.reservebar.com/products/hennessy-vs-deluxe-edition-shepard-fairey
    This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
    Creation Date: 06/18/2014
    -->".html_safe %>
    <script type="text/javascript">
    var axel = Math.random() + "";
    var a = axel * 10000000000000;
    document.write('<iframe src="https://3988497.fls.doubleclick.net/activityi;src=3988497;type=prd_0618;cat=ecm_s068;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
    </script>
    <noscript>
    <iframe src="https://3988497.fls.doubleclick.net/activityi;src=3988497;type=prd_0618;cat=ecm_s068;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
    </noscript>
    <%= "<!-- End of DoubleClick Floodlight Tag: Please do not remove -->".html_safe %>
  <% end %>
<% end %>
