<% if controller.controller_name == "products" && controller.action_name == "show" %>
  <% if @product.taxons.map(&:name).include? 'Belvedere'%>
    <%= "<!--
    Start of DoubleClick Floodlight Tag: Please do not remove
    Activity name of this tag: PRD_ReserveBarBelvedereProductPages_20140919
    URL of the webpage where the tag is expected to be placed: http://www.reservebar.com/t/type/spirits/vodka/belvedere
    This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
    Creation Date: 09/19/2014
    -->".html_safe %>
    <script type="text/javascript">
    var axel = Math.random() + "";
    var a = axel * 10000000000000;
    document.write('<iframe src="https://3993695.fls.doubleclick.net/activityi;src=3993695;type=prd_2014;cat=Reser0;u1=[Page URL];ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
    </script>
    <noscript>
    <iframe src="https://3993695.fls.doubleclick.net/activityi;src=3993695;type=prd_2014;cat=Reser0;u1=[Page URL];ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
    </noscript>
    <%= "<!-- End of DoubleClick Floodlight Tag: Please do not remove -->".html_safe %>
  <% end %>
<% end %>
