<% if controller.controller_name == "orders" && controller.action_name == "edit" %>
  <%
    product_owners = Array.new
    @order.line_items.map { |i| product_owners << i.product.taxons.map(&:name) }
  %>
  <% if product_owners.flatten.uniq.include? 'Moët Chandon' %>
    <%= "<!--
    Start of DoubleClick Floodlight Tag: Please do not remove
    Activity name of this tag: ECM_AddtoCart_2015-06-29_Step 2
    URL of the webpage where the tag is expected to be placed: http://www.reservebar.com/cart
    This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
    Creation Date: 06/29/2015
    -->".html_safe %>
    <script type="text/javascript">
    var axel = Math.random() + "";
    var a = axel * 10000000000000;
    document.write('<iframe src="https://4326943.fls.doubleclick.net/activityi;src=4326943;type=lmc_c0;cat=ecm_a0;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
    </script>
    <noscript>
    <iframe src="https://4326943.fls.doubleclick.net/activityi;src=4326943;type=lmc_c0;cat=ecm_a0;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
    </noscript>
    <%= "<!-- End of DoubleClick Floodlight Tag: Please do not remove -->".html_safe %>
  <% end %>
<% end %>
